// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @import "bootstrap-sprockets";
// @import "bootstrap";

#login-wrapper {
	margin-top: 10vh;
	margin-left: 20vw;
	margin-right: 20vw;
	background-color: #E1DDE0;
	padding: 30px;
	border-radius: 5px;
}


